.site{
    background-color:dodgerblue ;
}
.site2{
    font-size: 30px;
    text-transform: uppercase;
}

.cadu{
    width: 400px;
    height: 400px;
}
.fotos img{
    width: 400px;
    height: 400px;
}